.navbar{
    height:75px;
    border-bottom:1px solid var(--primary-black);
    display: flex;
    justify-content: space-between;
    font-family: 'Agency FB Bold';
}
.navbar-title{
    width:300px;
    /* background-color: aqua; */
    height:75px;
    border-right: 1px solid var(--primary-black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    
}


.navbar-links-container{
    display: flex;
}

.navlink{
    width:150px;
    height:100%;
    border-left:1px solid var(--primary-black);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:black;
    font-size:18px;
    text-align: center;

}
/* .navlink:nth-child(1){
    background-color: #6B81FF;
    color:white;
} */
.button-navlink{
    background-color: white;
    border:none;
    border-left: 1px solid var(--primary-black);
    font-family: 'Agency FB Bold';
    font-size:18px;
}

.navlink:hover{
    background-color: var(--primary-black);
    color:white;
}

.active-navlink {
    background-color: #6B81FF; /* Change background color for active link */
    color: white; /* Change font color for active link */
}